:root {--Grayish-blue :hsl(220, 15%, 55%);
  --Light-gray: hsl(212, 45%, 89%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var( --Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    display: grid;
    place-content: center;
    
  
}

.container {
  background-color: var(--White);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 50%;
  height: 75%;
}

.qr-code-image {
  width: 50%;
  height: 50%;
  align-items: center;
  margin-left: 50%;
  border-radius: 10%;
}



h1, p {
  text-align: center;
}

